/* app css stylesheet */

select, textarea {
  color: #52575c;
}

.selectableTable td {
	cursor: pointer;
}

input.ng-invalid.ng-dirty {
	background-color: pink;
}

.templateContainer {
	padding-left:20px; 
	padding-right:20px;
}
