<div class="templateContainer">
	<div class="container">
		<h1>New Order</h1>
		<form name="orderForm" class="col-md-6">
			{{message}}
			<fieldset>
				<div class="form-group">
					<label for="orderRecipientName">Recipient Name:</label>
					<input id="orderRecipientName" class="form-control" type="text" required ng-model="response.order.recipient_name" />
				</div>
				<div class="form-group">
					<label for="orderAddress">Address:</label>
					<input id="orderAddress" class="form-control" type="text" required ng-pattern="streetAddrPat" ng-model="response.order.address" />
				</div>
				<div class="form-group">
					<label for="orderCity">City:</label>
					<input id="orderCity" class="form-control" type="text" required ng-pattern="cityPat" ng-model="response.order.city" />
				</div>
				<div class="form-group">
					<label for="orderState">State:</label>
					<input id="orderState" class="form-control" type="text" required ng-pattern="statePat" ng-model="response.order.state" placeholder="Two letter abbreviation"/>
				</div>
				<div class="form-group">
					<label for="orderZipcode">ZIP Code:</label>
					<input id="orderZipcode" class="form-control" type="text" required ng-pattern="zipcodePat" ng-model="response.order.zipcode" />
				</div>
				<div class="form-group">
					<label for="orderPhone">Phone:</label>
					<input id="orderPhone" class="form-control" type="text" required ng-pattern="phonePat" ng-model="response.order.phone" />
				</div>
				<div class="form-group">
					<label for="orderProductID">Product ID:</label>
					<div class="input-append">
						<input id="orderProductID" class="form-control" type="text" required ng-pattern="numberPat" ng-model="response.order.product_id" placeholder="Number" />
						<button type="button" ng-click="showProductDetails()" class="btn">Show Details</button>
						<button type="button" ng-click="hideProductDetails()" ng-disabled="!showProduct" class="btn">Hide</button>
					</div>
				</div>
				<fieldset ng-show="showProduct">
					<dl class="dl-horizontal">
						<dt>Name:</dt>
						<dd>{{responseProduct.product.name}}</dd>
						<dt>Description:</dt>
						<dd>{{responseProduct.product.description}}</dd>
						<dt>Width:</dt>
						<dd>{{responseProduct.product.width}} in.</dd>
						<dt>Length:</dt>
						<dd>{{responseProduct.product.length}} in.</dd>
						<dt>Height:</dt>
						<dd>{{responseProduct.product.height}} in.</dd>
						<dt>Weight:</dt>
						<dd>{{responseProduct.product.weight}} lbs.</dd>
						<dt>Value:</dt>
						<dd>${{responseProduct.product.value}}</dd>
					</dl>
				</fieldset>
				<div class="form-group">
					<label for="orderQuantity">Quantity:</label>
					<input id="orderQuantity" class="form-control" type="text" required ng-pattern="numberPat" ng-model="response.order.quantity" placeholder="Number"/>
				</div>
			</fieldset>
			<br />
			<button type="submit" ng-disabled="orderForm.$invalid" ng-click="saveOrder(response.order, orderForm)" class="btn btn-primary">Save</button>
			<button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
		</form>
	</div>
</div>