<div class="templateContainer">
	<h1>Order List</h1>
	<table class="table table-striped table-hover selectableTable">
		<thead>
			<tr><th>Order ID</th><th>Recipient Name</th><th>Product ID</th><th>Product Name</th><th>Quantity</th><tr>
		</thead>
		<tbody>
			<tr ng-repeat="order in response.orders" ng-click="open(order)">
				<td>{{order.id}}</td>
				<td>{{order.recipient_name}}</td>
				<td>{{order.product_id}}</td>
				<td>{{order.product.name}}</td>
				<td>{{order.quantity}}</td>
			</tr>
		</tbody>
	</table>
</div>