<div class="templateContainer">
	<div class="container">
		<h1>Order</h1>
		<form name="orderForm">
			{{message}}
			<fieldset>
				<label>Order ID: {{response.order.id}}</label>
				<label for="orderRecipientName">Recipient Name:</label>
				<input id="orderRecipientName" type="text" required ng-model="response.order.recipient_name" />
				<label for="orderAddress">Address:</label>
				<input id="orderAddress" type="text" required ng-pattern="streetAddrPat" ng-model="response.order.address" />
				<label for="orderCity">City:</label>
				<input id="orderCity" type="text" required ng-pattern="cityPat" ng-model="response.order.city" />
				<label for="orderState">State:</label>
				<input id="orderState" type="text" required ng-pattern="statePat" ng-model="response.order.state" />
				<label for="orderZipcode">Zip Code:</label>
				<input id="orderZipcode" type="text" required ng-pattern="zipcodePat" ng-model="response.order.zipcode" />
				<label for="orderPhone">Phone:</label>
				<input id="orderPhone" type="text" required ng-pattern="phonePat" ng-model="response.order.phone" />
				<label for="orderProductID">Product ID:</label>
				<input id="orderProductID" type="text" required ng-pattern="numberPat" ng-model="response.order.product_id" />
				<button type="button" ng-click="showProductDetails()" class="btn">Show Details</button>
				<button type="button" ng-click="hideProductDetails()" ng-disabled="!showProduct" class="btn">Hide</button>
				<fieldset ng-show="showProduct">
					<dl class="dl-horizontal">
						<dt>Name:</dt>
						<dd>{{responseProduct.product.name}}</dd>
						<dt>Description:</dt>
						<dd>{{responseProduct.product.description}}</dd>
						<dt>Width:</dt>
						<dd>{{responseProduct.product.width}} in.</dd>
						<dt>Length:</dt>
						<dd>{{responseProduct.product.length}} in.</dd>
						<dt>Height:</dt>
						<dd>{{responseProduct.product.height}} in.</dd>
						<dt>Weight:</dt>
						<dd>{{responseProduct.product.weight}} lbs.</dd>
						<dt>Value:</dt>
						<dd>${{responseProduct.product.value}}</dd>
					</dl>
				</fieldset>
				<label for="orderQuantity">Quantity:</label>
				<input id="orderQuantity" type="text" required ng-pattern="numberPat" ng-model="response.order.quantity" />
			</fieldset>
			<br />
			<button type="submit" ng-disabled="orderForm.$invalid" ng-click="saveOrder(response.order, orderForm)" class="btn btn-primary">Save</button>
			<button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
			<button type="button" ng-click="deleteOrder(response.order, orderForm)" class="btn">Delete</button>
		</form>
	</div>
</div>